@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

@mixin icon{
	padding-right: 5px;
	float: left;
	cursor: pointer;
	font-family: 'FontAwesome';
	text-indent: 0;
}

@mixin media($device) {
	@if ($device =='ipad') {
		@media screen and (max-width: $ipad) {
			@content;
		}
	}
	@else if($device =='iphone') {
		@media screen and (max-width: $iphone) {
			@content;
		}
	}
}