$colors: (
  "primary": #21BB8D,
  "dark":#178564,
  "title" : #626567,
  "sub-title" : #92a0ad,
  "all" : #fff,
  "h3":#3B4441 ,
  "footer-background" : #3D4D69
);

//width
$_100 : 100%;
//font size
$_1 : 1px;
$_10 : 10px;
$_11 : 11px;
$_12 : 12px;
$_13 : 13px;
$_14 : 14px;
$_16 : 16px;
$_18 : 18px;
$_22 : 22px;
$_24 : 24px;
$_28 : 28px;
$_29 : 29px;
$_36 : 36px;
$_40 : 40px;
$_50 : 50px;

// font wight
$bold : 700; 
$_500 : 500;
$_550 : 550;
$solid : solid;

// font family
$sans-serif : "sans-serif";
$fontAwesome : "fontAwesome";


// media width
$ipad: 768px;
$iphone: 414px;